<section class="side">
        <h2>{{nameSec}}</h2>
        <img src="/{{directorySec}}/Screenshot.png"/>
        <p>{{descriptionSec}}</p>
        <a href="/{{directorySec}}">Launch</a>
    </section>