body {
    background-color: magenta;
}

#projects {
    display: flex;
    align-items:flex-start ;
    justify-content: center ;
}

.project {
    flex: 1 1 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self:flex-end ;
    

}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.side {
    position: relative;
}
.side img{
    width: 50%;
    height: 50%;
   
}